.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu {
  font-weight: 400;
  font-size: 19px;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 130px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 165px 50px 106px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  margin-right: -30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-left: 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 50px;
  color: #fff;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.8em;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 180px 24px 0;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.about {
  padding: 120px 24px 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 336px auto;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 133px;
  margin-left: 21px;
}

.about__title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  min-height: 180px;
  padding: 0 50px 82px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  max-width: 265px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item .footer__social-link .footer__social-icon {
  width: 48px;
  height: 48px;
}
